.swiper-button-next,
.swiper-button-prev {
  width: auto;
  height: auto;
  padding: 10px 16px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
  color: white;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  pointer-events: inherit;
}
